.profile__info {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 24px;
    flex-wrap: wrap;
    justify-self: flex-start;
    align-items: baseline;
}

@media screen and (max-width: 590px) {
    .profile__info {
        max-width: 370px;
        justify-self: auto;
        justify-content: center;
        margin-left: 27px;
    }
}
