.element__btn-remove {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url(../../../image/Remove.svg);
    width: 18px;
    height: 19px;
    transition: opacity .3s;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    visibility: hidden;
}

.element__btn-remove:hover {
    opacity: .6;
}