.header__link_type_out {
    color: #A9A9A9;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    margin-left: 24px;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity .3s;
}

.header__link_type_out:hover {
    opacity: .6;
}

@media screen and (max-width: 520px) {
    .header__link_type_out {
        margin: 0 0 40px 0;
    }
}