.form__bottom-submit {
    width: 358px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    background-color: #000000;
    border-radius: 2px;
    color: white;
    margin: 10px 36px 37px;
    padding: 14px 0 18px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: opacity .4s;
    cursor: pointer;
}

.form__bottom-submit:hover {
    opacity: .8;
}

@media screen and (max-width: 480px) {
    .form__bottom-submit {
        width: 305px;
        height: 46px;
        margin: 0 20px 20px 25px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 380px) {
    .form__bottom-submit {
        width: 238px;
    }
}
